<h2 class="bg-warning">
    מבנה טרומי
</h2>

<div class="row">
<div class="col-xs-12">

<span style="font-weight: 400;">החברה הלאומית לשיכון בישראל בע"מ</span>

<span style="font-weight: 400;">אגף מיחשוב</span>

<span style="font-weight: 400;">תצהיר  - מבנה טרומי</span>


<form class="form-inline">
    <h3 class="text-info">
        <b>פרטי הדירה/הבית</b>
    </h3>

    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>רחוב</th>
            <th>מס' בית</th>
            <th>ישוב</th>
            <th>דירה</th>
            <th>כ</th>
            <th>מבנה</th>
            <th>שיכון</th>
            <th>סניף</th>
            <th>חטיבה</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                סמדר
            </th>
            <th>
                7
            </th>
            <th>
                ראש העין
            </th>
            <th>
                9
            </th>
            <th>
                כ
            </th>
            <th>
                159
            </th>
            <th>
                1640
            </th>
            <th>
                66
            </th>
            <th>
                5
            </th>
        </tr>
        </tbody>
    </table>


    <h3 class="text-info">
        <b>
            פרטי השוכר
        </b>
    </h3>

    <table class="table table-responsive table-bordered">
        <thead>
        <tr>
            <th>שם משפחה</th>
            <th>שם פרטי</th>
            <th>מס' זיהוי</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                נחום
            </th>
            <th>
                רונית
            </th>
            <th>
                022242606
            </th>
        </tr>
        </tbody>
    </table>


    <p style="font-weight: 400;">הובא  לידיעתי  כי הבנין  בו נמצאת  הדירה,  או הבית  שפרטיו מופיעים  לעיל נבנה
         מחלקיםטרומיים  והמחיצות  שנבנו  בדירה / בבית  מהוות  חלק  מהקונסטרוקציה  של  המבנה.</p>

    <p style="font-weight: 400;">אני מצהיר כי הובא לידיעתי  שחל איסור  לבצע  שינוי כלשהו  במחיצות  אלו, דהיינו
        האיסורחל  על:  הריסתן  בכלל,  או חלק  מהן ,  העברתן  למקום  אחר,  חציבת  חריצים  בהן  לצורךאינסטלציה  של
         חשמל,  מים  וכדומה  ובכלל  למטרה  אחרת.</p>

    <p style="font-weight: 400;">ידוע  לי  כי  כל שינוי  במחיצות  כמפורט  לעיל,  עלול  לסכן  את  יציבות  הדירה,
         הבית אושלמותם  ובריאותם  של  שוכני  הדירה  והבית,  שלמותם ובריאותם של שוכני  הבניין  בכללועמידר לא  תשא
          בתוצאות.</p>

    <p style="font-weight: 400;">עמידר שומרת לה את הזכות לנקוט בצעדים משפטיים בכל מקרה של ביצוע שינויים
        במחיצות.</p>


    <p>
        <strong>
            אישור שוכר
        </strong>
    </p>

    <div class="form-group">
        <label for="exampleInputName2">
            תאריך
        </label>
        <input type="text" class="form-control" id="preBulTenantDate" placeholder="תאריך">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail2">
            שם השוכר
        </label>
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="שם השוכר">
    </div>

    <div class="clearfix"></div>

    <!--
    ***********************************************************************************************************
    -->
    <div id="signature-pad" class="signature-pad">
        <div class="signature-pad--body">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description">חתימה:</div>

            <div class="signature-pad--actions">
                <div>
                    <button type="button" class="button save btn btn-danger" data-action="clear">מחיקה</button>
                </div>
                <div>
                    <button type="button" class="button save btn btn-primary" data-action="save-png">שמירה
                    </button>
                    <button type="button" class="button save btn btn-primary" data-action="save-svg">SVG
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <p>
        <strong>
            אישור רכז
        </strong>
    </p>

    <div class="form-group">
        <label for="exampleInputName2">
            תאריך
        </label>
        <input type="text" class="form-control" id="preBulManagerDate" name="preBulManagerDate placeholder="
               תאריך">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail2">
            שם וחתימת הרכז
        </label>
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="שם וחתימה">
    </div>

    <div class="alert alert-danger" style="margin-top: 30px">
        <div style="font-weight: 600; text-decoration: underline">
            אם השוכר מסרב לחתום אנא סמנ/י זאת כאן:
        </div>

        <div class="checkbox" style="margin-top: 30px">
            <label style="font-size: 36px !important; font-weight: 600">
                <input type="checkbox" class="big-checkbox" id="refSign" name="refSign">
                        <span class="fix-check-label" style="position: relative; bottom: 7px">
                        השוכר מסרב לחתום
                        </span>

            </label>
        </div>
        <div>
            <small>
                * השארתי העתק מהטופס בבית השוכר
            </small>
        </div>

    </div>
    <p>
        <b>לתייק הטופס בתיק הנכס.</b>
    </p>
</form>
</div>

<div class="col-xs-12">
    <hr>
    <button type="button" class="btn btn-lg btn-danger btnApartmentDetailsActionsCancel" data-action="cancel">
        <span class="glyphicon glyphicon-remove"></span> ביטול
    </button>
    <button type="button" class="btn btn-lg btn-success btnApartmentDetailsActionsSave" data-action="livedAloneSave">
        <span class="glyphicon glyphicon-ok"></span> שמירה
    </button>
</div>
</div>