<h2 class="bg-warning">
    גר בגפו
</h2>
<div class="row">
    <div class="col-xs-12">
        <p class="lead bg-info">
            מסך קריאה ואישור
        </p>
    </div>
    <div class="col-xs-12">
        <form class="form-inline live-alone-form">
            <h2><b>ה צ ה ר ה</b></h2>
            <p style="font-weight: 600;">
                אני/ו הח"מ,
            </p>
            <div class="form-group">
                <label>שם מלא</label>
                <input type="text" class="form-control" value="" readonly/>
            </div>
            <div class="form-group">
                <label>ת.ז.</label>
                <input type="text" class="form-control" value="" readonly/>
            </div>
            <span>מצהיר/ה/ים
         בזה כי כל פרטי הצהרתי
         </span>
            <span> /נו</span><span> להלן הם נכונים ומלאים, ואני</span><span>/ו</span><span>מתחייב/ת/ים להודיע לעמידר - החברה הלאומית לשיכון בישראל בע"מ</span><span>    </span><span>(להלן</span><span>:</span><b>"עמידר"</b><span>) על כל שינוי שיחול בפרטי הצהרתי</span><span> /נו</span><span>    </span><span>, כדלקמן: </span>

            <p>
                <strong>
                    אני/ו דייר/ת/י עמידר ב:
                </strong>
            </p>
            <div class="form-group">
                <label>דירה</label>
                <input type="number" class="form-control" value="012" readonly/>
            </div>
            <div class="form-group">
                <label>ברחוב</label>
                <input type="text" class="form-control" value="אילת" readonly/>
            </div>
            <div class="form-group">
                <label>בישוב</label>
                <input type="text" class="form-control" value="חולון" readonly/>
            </div>
            <p class="text-info">
                <strong>
                    פרטים על פי חוזה השכירות
                </strong>
            </p>


            <ol>
                <li>
                    <span>הריני  להצהיר כי אני</span><span> /ו</span><span> גר/ה</span><span>/ים</span><span> לבדי</span><span>/נו</span><span> בדירה. הריני</span><span> /ו</span><span> להצהיר כי מלבדי</span><span>/נו</span><span> לא מתגוררים דיירים נוספים בדירה, וכי אינני</span><span> /ו</span><span> מסתיר/ה</span><span> /ים</span><span> פרטים או נתונים לצורך קבלת הנחה בשכר דירה או הטבהכלשהי ממדינת ישראל, וכן אין בדירה חפצים או ציוד של אחרים, לרבות בני משפחתי</span><span> /נו.</span>
                </li>
                <li><span>ידוע  לי</span><span>/נו,</span><span> כי הצהרתי</span><span> /נו</span><span> זו על מגורים לבדי</span><span> /נו</span><span> בדירה וללא בני משפחה לא תאפשר לקרובי</span><span> /נו</span><span> לטעון כיגרו איתי</span><span>/נו</span><span>    </span><span>בדירה, לרבות לצורך הוכחת משך מגורים בדירה כדי להיחשב "דיירים ממשיכים"  ובחינתזכאותם לגור בדירה לאחר פטירתי</span><span> /נו.</span>
                </li>
                <li><span>ידוע לי</span><span>/נו,</span><span> כי עלי</span><span>/נו</span><span> לקבל את אישור עמידר לשיכון בן משפחה ו/או דייר נוסף בדירה וכי היה ו עמידר תסכים  לשיכון  הדייר  הנוסף,  אזי  יועלה  גובה  דמי  השכירות  הנדרשים   ממני</span><span> /ו</span>
                </li>
                <li>
                    <span>
                  <div class="form-group">
                     <label for="exampleInputName2">
                     קרובי  משפחה   להתקשרות  במצב   חירום הם:
                     </label>
                     <textarea class="form-control" name="flooringRemarks" id="flooringRemarks" rows="2"
                               aria-describedby="flooringRemarksHelp"></textarea>
                  </div>
               </span>
                </li>
                <li><span>אני</span><span>/ו</span><span>    </span><span>מצהיר/ה</span><span>/ים</span><span>, כי קיבלתי</span><span> /נו</span><span> הסבר והבנתי</span><span> /ו</span><span>    </span><span>את משמעות  הצהרתי</span><span>/נו,</span><span> כולל האמור  בסעיף2  להצהרתי</span><span>/נו.</span>
                </li>
                <li>
                    <span>אני</span><span> /נו</span><span> מצהיר/ה</span><span>/ים</span><span>, כי ידוע לי</span><span>/נו</span><span>, כי  כל  שינוי  שיחול באחד  מהפרטים  בהצהרתי</span><span> /נו</span><span> יש בו כדילהשפיע על גובה דמי השכירות הנדרשים ממני /ו.</span>
                </li>
                <li>
                    <span>זהו שמי </span><span>/נו,</span><span>    </span><span>זו חתימתי</span><span>/נו</span><span>    </span><span>והצהרתי</span><span>/נו</span><span> אמת.</span>
                </li>
            </ol>
            <span>    </span><span>תאריך</span><span>    </span><span>חתימת הדייר/ת</span><span> /ים</span>
            <h3><b>א י ש ו ר ח ת י מ ה</b></h3>
            <!--
            <span >
                אני הח"מ   ______________________________ ,  ת.ז. ________________ , משמש כרכז  ב
            </span>
            -->
            <div class="form-group">
                <label for="exampleInputName2">
                    אני הח"מ
                </label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="חתימת רכז">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">
                    , ת.ז.
                </label>
                <input type="number" class="form-control" id="exampleInputEmail2" placeholder="תעודת זהות">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">
                    משמש כרכז ב
                    <strong>
                        עמידר
                    </strong>
                </label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="חתימת רכז">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">
                    , מאשר בזה כי ביום
                </label>
                <input type="text" class="form-control" id="liveAloneConfirmDate" placeholder="תאריך חתימה">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">
                    חתם/ה /ו בפני גב'/מר /ה"ה
                </label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="שם החותם">
            </div>
            <div class="form-group">
                <label for="exampleInputName2">
                    ת.ז.
                </label>
                <input type="number" class="form-control" id="exampleInputName2" placeholder="זהות חותם">
            </div>
            <p>
                <b>
                    על הצהרה זו לאחר שקרא /ו אותה, הקראתי לו/ה /הם והסברתי לו/ה/הם את משמעותה והבין /ה/ו את תוכנה. חתימת
                    הרכז
                </b>
            </p>
            <div class="form-group">
                <label for="exampleInputName2">
                    חתימת השוכר
                </label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="חתימת השוכר">
            </div>
            <hr>
        </form>
    </div>
    <div class="col-xs-12">
        <hr>
        <button type="button" class="btn btn-lg btn-danger btnApartmentDetailsActionsCancel" data-action="cancel">
            <span class="glyphicon glyphicon-remove"></span> ביטול
        </button>
        <button type="button" class="btn btn-lg btn-success btnApartmentDetailsActionsSave" data-action="livedAloneSave">
            <span class="glyphicon glyphicon-ok"></span> שמירה
        </button>
    </div>
</div>