<nav class="navbar navbar-default navbar-fixed-side">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse-side" data-target=".side-collapse"
                data-target-2=".main-content">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/amidar-logo.png" alt="עמידר"/>
        </a>
    </div>
    <div class="navbar-title">
        <span id="navBarTitle"></span>
    </div>
    <div class="navbar-default side-collapse in">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link nav-link-home" href="index.html"><span class="glyphicon glyphicon-home"></span>
                    בית</a>
            </li>
            <li>
                <a class="nav-link nav-link-visits" href="visits-log.html"><span
                        class="glyphicon glyphicon-briefcase"></span> יומן ביקורים</a>
            </li>
            <li>
                <a class="nav-link nav-link-search" href="search.html"><span class="glyphicon glyphicon-search"></span>
                    חיפוש</a>
            </li>
            <li>
                <a class="nav-link nav-link-search disabled" href="apartment-details.html">

               <span style="line-height: 1">
               <span class="glyphicon glyphicon-info-sign"></span>
               פרטי דירה
               <br>
               (בחר נכס מיומן ביקורים)
                  </span>
                </a>
            </li>
        </ul>
        <span class="navbar-credits">
         <span class="glyphicon glyphicon-copyright-mark"></span>
         נוצר ומתוחזק ע"י <a href="http://www.auraplayer.com/" title="Visit Aura site" target="_blank">AuraPlayer</a>
         <br>
         גרסא <span id="spanVersionNumberClient"></span>
      </span>
    </div>
</nav>